.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  color: white;
}

.calc-wrapper {
  margin-top: 90px;
  background-color: rgb(145, 145, 145);
  width: 400px;
  border-radius: 16px;
  
  padding: 10px;
}

.row {
  display: flex;
}